<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random</title>
</head>
<body>
    <!-- the below "<%=  %>" is used to output the embedded Js  -->
    <h1>This is your random number <%= rand %></h1>
</body>
</html>